@page "/customer-profiles"

@using GolfClub.BLL.Helpers
@using GolfClub.BLL.Services.Users
@using GolfClub.DAL.Models
@attribute [StreamRendering]

@inject IUserService userService
@inject NavigationManager navigationManager

<PageTitle>Customer Profiles</PageTitle>

<div class="p-3">
    <h2 class="text-success mb-3">Customer Profiles</h2>
    <p class="mb-4">Below is a list of all customers that are registered. Click view more option to view details.</p>

    <div>
        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <div class="alert alert-danger" role="alert">
                @errorMessage
            </div>
        }
        else if (users == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <div class="row">
                @if (users.Count > 0) {
                    @foreach (var item in users)
                    {
                        <div class="col-md-3">
                            <div class="Card text-center px-3 py-4 mb-3">
                                <h1><i class="bi bi-person"></i></h1>
                                <h6>@UiHelper.NotAvail(@item.UserProfile.FirstName!) @UiHelper.NotAvail(@item.UserProfile.LastName!)</h6>
                                <p style="font-size: 12px;">Created on: @item.DateCreated.ToString("dd-MM-yyyy")</p>
                                <a href="@($"/view-profile/{item.UserId}")" class="btn btn-outline-success btn-sm"><i class="bi bi-eye"></i> View</a>
                            </div>
                        </div>
                    }
                }
            </div>
        }
    </div>    
</div>

@code {
    private List<UserAccount> users = null!;
    private string errorMessage = string.Empty;
    private int rowNum = 1;

    protected override async Task OnInitializedAsync()
    {
        var response = await userService.GetUserProfilesAsync();

        if (response.IsErrorOccurred)
        {
            errorMessage = response.Message;
            return;
        }

        users = response.Result.ToList();
    }
}