@page "/fitting-requests"
@attribute [StreamRendering]

@using GolfClub.BLL.Helpers
@using GolfClub.BLL.Services.Files
@using GolfClub.BLL.Services.Fittings
@using GolfClub.DAL.Models
@using Microsoft.AspNetCore.Authorization

@inject IFittingService fittingService
@inject NavigationManager navigationManager
@attribute [Authorize(Roles = "Admin")]

<PageTitle>Fitting Requests</PageTitle>

<div class="p-3">
    <h2 class="text-success mb-3">Fitting Requests</h2>
    <p class="mb-4">Below is a list of all fitting requests. You can click on any request to view and manage tasks associated with it.</p>

    <div class="">
        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <div class="alert alert-danger" role="alert">
                @errorMessage
            </div>
        }
        else if (fittingRequests == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <table class="table table-hover fitting-table">
                <thead class="">
                    <tr>
                        <th>#</th>
                        <th class="text-center">Scheduled Date</th>
                        <th class="text-center">Scheduled Time</th>
                        <th>Customer Name</th>
                        <th>Submitted On</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @if (fittingRequests is not null)
                    {
                        @foreach (var request in fittingRequests)
                        {
                            <tr>
                                <td>@rowNum</td>
                                <td class="text-center">@request.ScheduledDate.ToString("dd-MM-yyyy")</td>
                                <td class="text-center">@request.ScheduledDate.ToString("hh:mm tt")</td>
                                <td>@request.User.UserProfile.FirstName @request.User.UserProfile.LastName</td>
                                <td>@request.RequestDate.ToString("dd-MM-yyyy HH:mm")</td>
                                <td class="text-center">
                                    <span class="badge rounded-pill bg-@UIHelper.GetTaskStatusClass(request.Status)">
                                        @request.Status
                                    </span>
                                </td>
                                <td class="text-center">
                                    <a href="@($"/fitting-tasks/{request.FittingId}")" class="btn btn-link btn-sm"><i class="bi bi-eye"></i></a>
                                </td>
                            </tr>
                            rowNum++;
                        }                        
                    }
                </tbody>
            </table>
        }
    </div>    
</div>


@code {
    private List<Fitting> fittingRequests = null!;
    private string errorMessage = string.Empty;
    private int rowNum = 1;

    protected override async Task OnInitializedAsync()
    {
        var response = await fittingService.GetFittingRequestAsync();

        if (response.IsErrorOccurred)
        {
            errorMessage = response.Message;
            return;
        }

        fittingRequests = response.Result.ToList();
    }
}