@page "/fitting-history"
@using GolfClub.BLL.Services.Fittings
@using GolfClub.Blazor.App.Domain.Helpers
@using GolfClub.DAL.Models
@using Microsoft.AspNetCore.Authorization
@attribute [StreamRendering]
@attribute [Authorize(Roles = "Admin")]
@inject IFittingService fittingService
@inject NavigationManager navigationManager

<PageTitle>Fitting History</PageTitle>

<div class="p-3">
    <h2 class="text-success mb-3">Fitting History</h2>
    <p class="mb-4">Below is a list of all fitting History</p>

    <div class="">
        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <div class="alert alert-danger" role="alert">
                @errorMessage
            </div>
        }
        else if (fittingRequests == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <table class="table table-hover fitting-table">
                <thead class="">
                    <tr>
                        <th>#</th>
                        <th class="text-center">Scheduled Date</th>
                        <th class="text-center">Scheduled Time</th>
                        <th>Customer Name</th>
                        <th>Received Date</th>
                        <th class="text-center">Status</th>
                    </tr>
                </thead>
                <tbody>
                    @if (fittingRequests is not null) {
                        @foreach (var request in fittingRequests)
                        {
                            <tr>
                                <td>@rowNum</td>
                                <td class="text-center">@request.ScheduledDate.ToString("dd-MM-yyyy")</td>
                                <td class="text-center">@request.ScheduledDate.ToString("hh:mm tt")</td>
                                <td>@request.User.UserProfile.FirstName @request.User.UserProfile.LastName</td>
                                <td>@request.RequestDate.ToString("dd-MM-yyyy HH:mm")</td>
                                <td class="text-center">
                                    <span class="badge rounded-pill bg-@UIHelper.GetTaskStatusClass(request.Status.ToLower())">
                                        @request.Status
                                    </span>
                                </td>
                            </tr>
                            rowNum++;
                        }                        
                    }
                </tbody>
            </table>
        }
    </div>    
</div>


@code {
    private List<Fitting> fittingRequests = null!;
    private string errorMessage = string.Empty;
    private int rowNum = 1;

    protected override async Task OnInitializedAsync()
    {
        var response = await fittingService.GetFittingRequestAsync();

        if (response.IsErrorOccurred)
        {
            errorMessage = response.Message;
            return;
        }

        fittingRequests = response.Result.ToList();
    }
}