@page "/account-history"
@using GolfClub.BLL.Services.Authentication
@using GolfClub.BLL.Services.Fittings
@using GolfClub.Blazor.App.Domain.Helpers
@using GolfClub.DAL.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "User")]
@attribute [StreamRendering]
@inject IFittingService fittingService;
@inject IUserAuthenticationService userAuthenticationService;
@inject NavigationManager NavigationManager;

<PageTitle>Account History</PageTitle>

<div class="p-3">
    <h2 class="text-success mb-3">Account History</h2>
    <p class="mb-4">Review all your fitting sessions and their statuses</p>

    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <div class="alert alert-danger" role="alert">
            @errorMessage
        </div>
    }
    else if (fittings == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <table class="table table-hover fitting-table">
            <thead class="">
                <tr>
                    <th>#</th>
                    <th>Fitting Type</th>
                    <th class="text-center">Scheduled Date</th>
                    <th class="text-center">Scheduled Time</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Received Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in fittings)
                {
                    <tr>
                        <td>@rowNum</td>
                        <td>@UIHelper.Normalize(item.FittingType)</td>
                        <td class="text-center">@item.ScheduledDate.ToString("dd-MM-yyyy")</td>
                        <td class="text-center">@item.ScheduledDate.ToString("hh:mm tt")</td>
                        <td class="text-center">
                            <span class="badge rounded-pill bg-@UIHelper.GetTaskStatusClass(item.Status)">
                                @item.Status
                            </span>
                        </td>
                        <td class="text-center">@item.RequestDate.ToString("dd-MM-yyyy HH:mm")</td>
                    </tr>
                    rowNum++;
                }
            </tbody>
        </table>
    }
</div>

@code {
    private List<Fitting> fittings = null!;
    private string errorMessage = string.Empty;
    private int rowNum = 1;

    protected override async Task OnInitializedAsync()
    {
        var response = await userAuthenticationService.GetUserId();

        if (response.IsErrorOccurred)
        {
            NavigationManager.NavigateTo("/Error");
        }

        var res = await fittingService.GetFittingInProgressAsync(response.Result);

        if (res.IsErrorOccurred)
        {
            errorMessage = res.Message;
            return;
        }

        fittings = res.Result.ToList();
    }
}
